<script>
$(document).ready(function(){
$('.materialboxed').materialbox();
});
</script>
<div class="container">
<div ng-show="identificarHuella">
        <span>
            <i class=" waves-effect ir-atras material-icons prefix" ng_click="atras2()">arrow_back</i>
        </span>
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card">
                <div class="card-content black-text">
                    <div class="row">
                        <div class="center-align">
                            <h6><u>CAPTURA DE HUELLA</u></h6><div class="row"></div>
                            <img  src="app/img/identificacion_dactilar2.gif" alt="HTML5 Icon" style="width:180px;height:128px;">
                        </div>
                    </div>
                </div>
                <div class="card-action center-align"></div>
                <div class="center-align">
                    <a class="waves-effect " id="buttonEspecial" ng-click="entrarCredencialIdentificado()">IDENTIFICAR</a>
                    <div class="row"></div>
                    <div class="row"></div>
                </div>
            </div>
        </div>
    </div>
    <span>
        <i class=" waves-effect ir-arriba material-icons prefix">arrow_upward</i>
    </span>
</div>

    <div ng-show="credencialIdentificado">
        <span>
            <i class=" waves-effect ir-atras material-icons prefix" ng_click="atras3()">arrow_back</i>
        </span>
        <div class="card">
            <div class="card-content black-text">
                <div class="row">
                    <div class="col s4">
                        <div class="center-align">
                            <h6><u>FOTO</u></h6><div class="row"></div><div class="row"></div><div class="row"></div>
                            <img class="materialboxed fotoUsuario" src="app/img/FOTO_USUARIO.png" alt="HTML5 Icon" style="width:180px;height:200px;">
                        </div>
                    </div>
                    <div class="col s1">
                        <div id="vertical-bar2"></div>
                    </div>
                    <div class="col s7">
                    <div class=" row center-align">
                        <h6><u>DATOS PERSONALES</u></h6>
                    </div>
                    <table class="highlight">
                        <thead>
                        <tr><th></th></tr>
                        </thead>
                    </table>
                    <table id="table1" class="highlight bordered">
                        <tbody>
                        <tr>
                            <th width="80%">DNI:</th>
                            <td>---</td>
                        </tr>
                        <tr>
                            <th width="80%">Nombre(s):</th>
                            <td>---</td>
                        </tr>
                        <tr>
                            <th width="80%">Apellidos:</th>
                            <td>---</td>
                        </tr>
                        <tr>
                            <th width="80%">Edad:</th>
                            <td>---</td>
                        </tr>
                        <tr>
                            <th width="80%">Requisitoriado:</th>
                            <td>---</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span>
        <i class=" waves-effect ir-arriba material-icons prefix">arrow_upward</i>
    </span>
</div>