<script>
    $(document).ready(function() {
        $('input#idUsuario, textarea#textarea1').characterCounter();
    });
</script>
<div class="container" ><span>
            <i class=" waves-effect ir-atras material-icons prefix"  ng_click="atras1()">arrow_back</i>
            </span>

    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card">
                <div class="card-content black-text">
                    <div id="mensaje" class="row">{{mensaje}}</div>
                    <div class="row">
                        <div class="col s12">
                            <span class="card-title center-align">Login Admin</span>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">local_hospital</i>
                            <select>
                                <option value="" disabled selected>Establecimiento</option>
                                <option value="1">establecimiento 1</option>
                                <option value="2">establecimiento 2</option>
                                <option value="3">establecimiento 3</option>
                            </select>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="idUsuario" type="text" class="validate" ng-model="idUsuario" data-length="8" >
                            <label for="idUsuario">DNI</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock</i>
                            <input id="clave" type="text" class="validate" ng-model="clave">
                            <label for="clave">Clave</label>
                        </div>
                    </div>

                </div>
                <div class="card-action center-align">
                    <a class="waves-effect " id="buttonEspecial" ng-click="entrarPagIdentificacion()">Ingresar</a>
                </div>
            </div>
        </div>
    </div>
    <span>
        <i class=" waves-effect ir-arriba material-icons prefix">arrow_upward</i>
    </span>
</div>